.button {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(77, 152, 212);
    padding: 3px;
    border-radius: 2px;
    border: none;
    transition: all 0.4s ease 0s;
    height: 35px;
    }

.button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}