.Cart {
    display:flex;
    width: 10%;
    height: 50%;
    background-color: rgb(77, 152, 212);
    border-radius: 3px;    
    color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 4px rgb(25, 104, 114);
    text-decoration: none;
}

.HeaderCartDetails {
    display: block;
    height: 90px;
    padding: 5px;
    margin-top: 70px;
    overflow-y: scroll;
    width: 15%;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    position: absolute;
    box-shadow: 4px 4px 4px rgb(23, 70, 77);
}

.Cart:hover .HeaderCartDetails {    
    color: black;
    background-color: white;
    border-style: dashed;
    border: 1px solid;
    opacity: 1;
    visibility: visible;
}

/* scrollbar width */
.HeaderCartDetails::-webkit-scrollbar {
    width: 5px;
  }
  
  /* scrollbar handle */
  .HeaderCartDetails::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #00d2ff 0%, #3a7bd5 100%);
  }
