.Header {
    display: flex;
    height: 130px;
    background-image: linear-gradient(to right, #39746f 10%, #479d97 100%);
    color: white;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;
    border-bottom: 5px solid white;
}

.HeaderLogo {
    text-align: center;
    font-size: 64px;
    font-style: italic;
    font-weight: bold;
}