.miniContainer {
    display: flex;
    justify-content: center;
}

.imgCont {
    display: flex;
    width: 300px;
    max-width: max-content;
}

.imgs {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px;
    width: auto;
    max-width: max-content;
}

.miniContainer .rightButton {
    width: 30px;
}

.miniContainer .leftButton {
    width: 30px;
}